!!!
%html
  %head
    %title Tunr
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row
      .large-12.columns
        %ul.right.button-group
          %li
            %a.button{:href => "/"} Home
          - if !current_user
            %li
              %a.button{:href => "/users/new"} Create New User
            %li
              %a.button{:href => "/sessions/new"} Login
          - if current_user
            %li
              %a.button{:href => "/genres"} Genres
            %li
              %a.button{:href => "/albums"} Albums
            %li
              %a.button{:href => "/artists"} Artists
            %li
              %a.button{:href => "/songs"} Songs
            %li
              = link_to "#{current_user[:name].capitalize}", user_path(current_user), class: 'button'
            %li
              = link_to 'Edit Profile', edit_user_path(current_user), class: 'button'
            - if current_user && current_user.admin
              %li
                %a.button{:href => "/users"} Users
            %li
              = link_to 'Logout', logout_path, method: :delete, class: 'button'
    / End Header and Nav
    .row
      = yield
      :javascript
        $(document).foundation();
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p &copy; Copyright no one at all. Go to town.
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{:href => "/"} Home
              - if !current_user
                %li
                  %a{:href => "/users/new"} Create New User
                %li
                  %a{:href => "/sessions/new"} Login
              - if current_user && current_user.admin
                %li
                  %a{:href => "/users"} Users
              - if current_user
                %li
                  = link_to 'Logout', logout_path, method: :delete


 